
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
/*   body {
    background: rgb(186, 247, 189);
    background-color: #ddd;
    background-color: #c9dae9;
   } */

/*    body {
    background-image: url('/assets/Espacio.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */



/*    body {
    background-image: url('/assets/Technology-Bg-001.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

/* body {
  background-image: url('/assets/Technology-Bg-005.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */




/* body {
  background-image: url('/assets/Technology-Bg-003.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

/* body {
  background-image: url('/assets/Technology-Bg-004.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */